body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    font-size: 50px;
    text-align: center;
}

.title {
color: white;
}

.download {
    color: aquamarine;
    font-size: 0.32rem;
}

h2 .travel {
    font-weight: 300;
    font-size: 0.84rem;
}

h4 .travel {
    font-size: 0.42rem;
    color: grey;
}

.icon {
    text-align: right;
    color: grey;
    display: inline-block;
}